 body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

  .menu-container {
            display: flex;
            height: 100vh;
        }
.quiz-container {
    text-align: center;
   background-color: rgba(247, 203, 109, 0.842);
    padding: 40px 60px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    overflow-y: auto;
    max-height: 90vh;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #343a40;
}

.date {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.questions {
    margin-bottom: 20px;
}

.question-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: left;
    margin: 10px 0;
    word-wrap: break-word; /* テキストの折り返しを設定 */
}

.question-item p {
    margin: 10px 0;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.summary {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.link-container {
    display: flex;
    justify-content: center;
}

.btn-return {
    display: inline-block;
    padding: 10px 20px; /* ボタンのパディングを追加 */
    background-color: #007bff; /* ボタンの背景色を指定 */
    color: #fff; /* ボタンのテキスト色を指定 */
    border: none; /* ボタンの枠線を削除 */
    border-radius: 5px; /* ボタンの角丸を設定 */
    cursor: pointer; /* カーソルをポインターに設定 */
    transition: background-color 0.3s; /* ボタンのホバーエフェクトを追加 */
}

.btn-return:hover {
    background-color: #0056b3; /* ボタンのホバーエフェクト時の背景色を指定 */
}
.sidebar {
            width: 160px;
            background-color: #343a40;
            color: #fff;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }

        .sidebar h1 {
            margin-bottom: 30px;
        }

        .sidebar ul {
            list-style-type: none;
            padding: 0;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .sidebar ul li {
            margin-bottom: 10px;
        }

        .sidebar ul li a {
            text-decoration: none;
            color: #fff;
            font-size: 1.2em;
        }

        .sidebar ul li a:hover {
            color: #17a2b8;
        }

        .logout-link {
            margin-top: auto; /* ログアウトリンクを下端に配置 */
        }

        .logout-link a {
            text-decoration: none;
            color: #fff;
            font-size: 1.2em;
        }

 .content {
            flex: 1;
            padding: 20px;
            display: flex;
            background-image: url('../image/QuiZoo_JournalList.jpg');
            flex-direction: column;
            justify-content: center;
            align-items: center;
             background-size: 1350px 650px;
        }
