body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.menu-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 160px;
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sidebar h1 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.sidebar ul li a:hover {
    color: #17a2b8;
}

.logout-link {
    margin-top: auto; /* ログアウトリンクを下端に配置 */
}

.logout-link a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    background-color: #099e24f6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3em;
    margin-bottom: 30px;
}
.start-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    padding: 10px 25px;
    border: 1px solid #000407; /* 枠線の初期設定 */
    border-radius: 30px;
    transition: all 0.3s;
    display: inline-block; /* リンク要素をブロック要素に変更 */
    background-color: #007bff;
    position: relative; /* 枠線を追加するための相対位置 */
}

.start-link:hover {
    color: #fff;
    background-color: #0056b3;
}

.start-link:before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border-radius: 32px;
    z-index: -1;
}

.start-link:hover:before {
    border-color: #0056b3;
}
