.parent {
  display:flex;
  /* 水平方向中央寄せ */
  justify-content: center;
  /* 垂直方向中央寄せ */
  align-items: center;
 
 background: lightskyblue;
  width:  100%;
  height: 400px;
  
  text-align: center;
}

.contents{
    background-color: red;
}

